<div class="xl:max-w-6xl lg:max-w-4xl max-w-6xl flex items-center flex-wrap h-auto lg:h-screen my-32 mx-auto lg:my-0">
    
	<!-- Quiz section -->
	<div class="w-full lg:w-3/5 shadow-2xl bg-white mx-6 lg:mx-0">
	

		<div class="p-4 md:p-12 text-center lg:text-left">

			<!-- Mobile view - Pokemon -->
			<div class="flex justify-center items-center lg:hidden shadow-xl mx-auto -mt-16 h-64 w-64 bg-white rounded-full">
				<div *ngFor="let pokemon of pokemons" class="">
					<img *ngIf="pokemon.correctAnswer" class="brightness-0 max-h-48" src="{{'https://img.pokemondb.net/sprites/home/normal/'+ pokemon.name + '.png'}}" alt="Pokemon">
				</div>
			</div>
			
			<!-- Question and answers -->
			<h1 class="font-['Silkscreen'] text-3xl uppercase font-bold pt-8 lg:pt-0">Who's that pokemon?</h1>
			<div class="mx-auto lg:mx-0 w-full pt-3 border-b-2 border-gray-300 mb-5"></div>
			<div *ngFor="let pokemon of pokemons" class="mx-auto lg:mx-0 w-full flex flex-col">
				<button *ngIf="pokemon" type="button" class="uppercase text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:outline-none focus:bg-blue-800 focus:text-white font-bold rounded-lg text-lg py-2 text-center mr-2 mb-3">{{ pokemon.name }}</button>
			</div>
			<!-- Next Pokemon Button -->
			<div class="mx-auto lg:mx-0 w-full text-center">
				<button type="button" class="mt-10 text-white bg-black hover:bg-gray-800 focus:outline-none focus:ring-4 font-medium rounded-full text-l px-20 py-2.5 mr-2 mb-2">Next Pokemon</button>
			</div>
		</div>
	</div>
	
	<!-- Desktop view - Pokemon -->
	<div class="w-full lg:w-2/5 bg-white h-3/5 shadow-2xl flex items-center justify-center">
		<div *ngFor="let pokemon of pokemons" class="scale-150 flex justify-center items-center">
			<img *ngIf="pokemon.correctAnswer" src="{{'https://img.pokemondb.net/sprites/home/normal/' + pokemon.name + '.png'}}" alt="Pokemon" class="brightness-0 rounded-none lg:rounded-lg hidden lg:block w-4/5">
		</div>
	</div>

</div>

<!-- Social icons -->
<div class="flex justify-center mb-2 lg:absolute lg:bottom-5 lg:right-10">
	<a class="link text-5xl opacity-50 px-3 duration-500 hover:opacity-100" href="https://github.com/Cwirek95" target="_blank"><i class="fab fa-github h-6 fill-current text-gray-600"></i></a>
	<a class="link text-5xl opacity-50 px-3 duration-500 hover:opacity-100" href="https://www.linkedin.com/in/andrzej-cwiertniak" target="_blank"><i class="fab fa-linkedin h-6 fill-current text-gray-600"></i></a>
	<a class="link text-5xl opacity-50 px-3 duration-500 hover:opacity-100" href="mailto:acwiertniak95@gmail.com" target="_blank"><i class="fa fa-envelope h-6 fill-current text-gray-600"></i></a>
	<a class="link text-5xl opacity-50 px-3 duration-500 hover:opacity-100" href="https://www.facebook.com/andrzej.cwiertniak" target="_blank"><i class="fab fa-facebook h-6 fill-current text-gray-600"></i></a>
</div>